Requirements Doc

15 Jan 2016 - Initial thoughts
I want to create a simple app to help me in my grocery shopping.

Problem statement: When I meal plan I tend to pick from the same selection of meals I have had before and must generate shopping lists
for each week.  Automating this process can be a time saver.

Status: I do not know how to code at all.  Basic HTML and minimal CSS.  I am going to start with a clean slate and work on my HTML and
CSS.  Once I feel comfortable there I will move to adding Javascript.

16 Jan 2015 - Plan for the day

Status: I am going to work in HTML today.  My initial goal is to create a two column table.  The first column will be the recipe name
with a link to the recipe.  The second column will be the ingredients.  For the CSS of this table I would like the Recipe title to be
bold, each ingredient to be on a seperate line left justified.

16 Jan 2015

Update: okay so I have created a table thanks to some help from w3school.com and have been able
to add a few items.  Now what I want to try and do is figure out some more styling for this 
table.  I will begin by working on how to layout the ingredients so that each ingredient is on
its own row.  That way when I add items in the quantity section I will be able to attach a 
quantity needed to a particular ingredient.

16 Jan 2015 12:01pm

Update: I figured out how to use css and html to create a table that works now. What I just 
learned is that by using 'rowspan' I am able to expand various items in a table.  It acts 
essentially like merging cells in excel.  Moving Forward!

