table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}

form {
    padding: 15px;
    display: block;
    width: 100px
}

div.username {
    padding: 5px
}

div.password {
    padding: 5px;
}

div.submit {
    padding: 5px;
}